name: ci

on:
  push:
    branches: [main]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
  pull_request:
    types: [closed, labeled, reopened, unlabeled, synchronize, opened]

concurrency:
  # For PRs, cancel in progress runs, if a new commit is pushed
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

# These permissions are needed to interact with GitHub's OIDC Token endpoint.
permissions:
  id-token: write
  contents: read

jobs:
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
      - run: python -m pip install pre-commit pre-commit-uv
      # - uses: pre-commit/action@v3.0.1  # note we don't use this, since it calls ations/cache, which actually takes longer than without it
      - run: pre-commit run --all --show-diff-on-failure --color=always

  mypy:
    name: MyPy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup_rye
      - run: rye run mypy:all

  pytest:
    name: Pytest (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04-arm
          - os: windows-latest
          - os: macos-latest

    runs-on: ["${{ matrix.os }}"]

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup_rye
      - run: rye test -a

  pytest-cov:
    name: Run tests and collect coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Setup rye
        uses: ./.github/actions/setup_rye

      - name: Run tests
        run: rye test -a -- --cov --cov-branch --cov-report=xml

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  docs:
    name: Documentation build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup_rye
      - name: Run documentation build
        run: rye run docs

  all_good:
    # This job does nothing and is only used for the branch protection
    # see https://github.com/marketplace/actions/alls-green#why

    if: ${{ !cancelled() }}

    needs:
      - pre-commit
      - mypy
      - pytest
      - pytest-cov
      - docs

    runs-on: ubuntu-latest

    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
